@model Project_08.Models.CarOrderDetails

@{
    ViewData["Title"] = "Index";
}

<h1>Car Create</h1>



@if (Model.CarOrders != null)
{
    <partial name="_CarOrders" />
   
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.OrderDetails != null)
{
    
    <partial name="_OrderDetails" />
}


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Model
                </th>
                <th>
                   price
                </th>
                <th>
                    IsAvailable
                </th>
                <th>
                    Image
                </th>
                <th>
                    Car Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        <img src="@Url.Content(item.ImageUrl)" height="100" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarType.Id)
                    </td>
                    <td>
                        @Html.ActionLink("select", "getRelatedOrder", new { GuestId = item.Id }, new { @class = "btn" })
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
